 /* Theme CSS */
 html {
	background-color:#eee;
 }
 body {
	font-family: Arial, "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	background-color:#fff;
 }
.eventCalendar-wrap {
	border:solid 1px #d3d3d3;
	box-shadow:0 0 15px #999;
	border-radius:5px;
	margin-bottom:20px;
	background-color:#fff;
	color:#807E7E;
	
}
	/*Flecha izquierda*/
	.eventCalendar-wrap .arrow {
		text-decoration:none;
		color:#fff;
		padding:0 5px;
		line-height:28px;
		top: 17px;
		padding:8px 10px;
		
	}
		.eventCalendar-wrap .arrow.prev {

		}
		.eventCalendar-wrap .arrow:hover { opacity:0.7;}
		.eventCalendar-wrap .arrow span {
			height: 0;
			width: 0;
			font-size: 0;
			line-height: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-left: 6px solid #fff;
			float:left;
			text-indent:-5000px;
		}
			.eventCalendar-wrap .arrow.prev span {
				border-left-width:0;
				border-right: 6px solid #fff;

			}
	.eventsCalendar-slider { height:80px;}

	.eventsCalendar-monthWrap {
		border-radius:5px;
		top:10px;
		left:0px;
	}

		/*Contenedor Mes Nombre*/
		.eventsCalendar-currentTitle {
			line-height:40px;
			background-color: #00558f;
			outline:1px solid #138DA5;
			border:1px solid #E3E3E3;
			border-width:1px 0;
		}


		.eventsCalendar-currentTitle .monthTitle {
			font-size:110%;
			text-decoration:none;
			font-weight:bold;
			color:#fff;
		}

		.eventsCalendar-daysList {
			zoom: 1;
			padding:0;
			width:100%;
		}
			
		.eventsCalendar-daysList.showAsWeek {
			margin:10px 5px;
			width:auto;

							border:solid 1px #BCBCBC;
			border-bottom-width:0;
			border-radius:0;
			background-color:#CCCCCC;
			background-image: linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
			background-image: -o-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
			background-image: -moz-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
			background-image: -webkit-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);
			background-image: -ms-linear-gradient(top, #EEEEEE 42%, #CCCCCC 71%);

			background-image: -webkit-gradient(
				linear,
				left top,
				left bottom,
				color-stop(0.42, #EEEEEE),
				color-stop(0.71, #CCCCCC)
			);			

		}



			.eventsCalendar-daysList.showDayNames.showAsWeek {

				border-radius:5px 5px 0 0;
			}


			/*Cuadro donde aparecen los dias*/
			.eventsCalendar-daysList:before, .eventsCalendar-daysList:after { content:""; display:table; }
			.eventsCalendar-daysList:after { clear: both; }
			.eventsCalendar-day-header {
				text-transform:lowercase;
				text-align:center;
				font-size:18px;
				border-bottom:solid 1px #BCBCBC;
				/*border: 1px solid red;*/
				height: 50px !important;
				text-transform: uppercase;
				padding-top: 15px;
			}

			/*Cuadritos Contenedor */
			.eventsCalendar-daysList.showAsWeek li {
				height:auto; margin:0;
				/*border: 1px solid red;*/
				height: 60px;
			}

			/*Cuadro para días sin */
			.eventsCalendar-daysList.showAsWeek li.empty {
				background-color: #ccc;
				min-height:27px;
				/*border-top: solid 1px #ccc;*/
				/*border: 3px solid blue;*/

			}
			.eventsCalendar-day a {
				text-decoration:none;
				font-size:10px;
				color:#424242;
			}

			.eventsCalendar-day {
				border-left:solid 1px #BCBCBC;

			}
			.eventsCalendar-day a  {
				border:solid 1px #BCBCBC;
				border-width:0 1px 1px 0;
			}


			/*Cuadro para días del calendario, tamaño de la fuente*/
			.showAsWeek .eventsCalendar-day { border-left-width:0;}
			.showAsWeek .eventsCalendar-day a  {
				/*border:solid 1px red;*/
				border-color:#fff #BCBCBC #BCBCBC #eee;
				line-height:54px;
				font-size:18px;

			}
				.eventsCalendar-day a:hover {
					background-color:#E4E4E4;
				/*	box-shadow:inset 5px 5px 10px #C1C1C1;
					text-shadow: 2px 2px 2px #C1C1C1;*/
				}
			.eventsCalendar-daysList li.today a {
				color:#fff;
				background:#aaa;
			/*	box-shadow:inset 5px 5px 10px #777;
				text-shadow: 2px 2px 2px #777;*/
			}
				li.eventsCalendar-day.today a:hover {
					background-color:#ccc;
					/*box-shadow:inset 5px 5px 10px #999;*/
				}

			.eventsCalendar-daysList li.dayWithEvents a {
				background:#89B814;
				/*box-shadow:inset 5px 5px 10px #698B10;
				text-shadow: 2px 2px 2px #698B10;*/
				color:#fff;
			}
				li.eventsCalendar-day.dayWithEvents a:hover {
					background-color:#C2D374;
					/*box-shadow:inset 5px 5px 10px #89B814;
					text-shadow: 2px 2px 2px #89B814;*/
				}


			.eventsCalendar-daysList li.current a {
				color:#fff;
				background:#449FB2;
				box-shadow:inset 5px 5px 10px #216B7A;
				text-shadow: 2px 2px 2px #216B7A;
			}
				li.eventsCalendar-day.current a:hover {
					background-color:#79BDCC;
					box-shadow:inset 5px 5px 10px #449FB2;
					text-shadow: 2px 2px 2px #449FB2;
				}
		.eventsCalendar-loading {
			border-radius:4px;
			margin:5px auto;
			padding:0 10px;
			background-color:#ccc;
			color:#fff;
			text-align:center;
			font-weight:bold;
			box-shadow:0 0 10px #ccc;
			text-shadow:0 0 3px #aaa;
			position:absolute;
			z-index:4;
			top:25px;
			left:5px;
		}
			.eventsCalendar-loading.error {
				background-color:red;
			}

.eventsCalendar-subtitle { padding-top:10px;}
.eventsCalendar-list-wrap {
	min-height:100px;
	position:relative;
	font-size: 16px;
}
	.eventsCalendar-list-content.scrollable {

		height:200px;
		overflow-y:auto;
		margin:0 5px 5px 0;
		border: 1px solid red;
	}
	.eventsCalendar-list {
		margin:0; padding:0; list-style-type:none;
	}
	.eventsCalendar-list li {
		padding:10px 5px 15px;
		margin:0;
		clear:both;
		background: lightgray;
	}
		.eventsCalendar-list li time {
			font-size:10px;
			line-height:13px;
		}
		.eventsCalendar-list li time em {
			float:left;
			font-style:normal;
			font-size: 14px;
		}
		.eventsCalendar-list li time small {
			font-size:10px;
			float:left;
			background-color:#807E7E;
			color:#fff;
			padding:0 5px 0 4px;
			margin:0 0 0 3px;
		}
		.eventsCalendar-list li .eventTitle {
			display:block;
			clear:both;
			text-transform: uppercase;
			font-weight:bold;
			text-decoration:none;
		}
			.eventsCalendar-list li a.eventTitle {
				color:#0E8EAB;
			}
			.eventsCalendar-list li a.eventTitle:hover { text-decoration:underline;}
		.eventsCalendar-list li .eventDesc {
			clear: both;
			margin:0 0 5px 0;
			font-size: 18px;
			line-height:1.2em;

		}
		.eventsCalendar-list .eventsCalendar-noEvents {
			font-size:120%;
			border-radius:4px;
			margin:5px;
			padding:5px;

			background-color:#ccc;
			color:#fff;
			text-align:center;
			font-weight:bold;
			box-shadow:0 0 10px #ccc;
			text-shadow:0 0 3px #aaa;
		}

.bt {
	font-size:12px;
	display:block;
	clear:both;
	text-align: center;
	margin-top:10px;
	padding: 9px 34px 11px;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;

	color: #ffffff;
	background-color: #698B10;
	background-repeat: repeat-x;

	background-image: -khtml-gradient(linear, left top, left bottom, from(#89B814), to(#698B10));
	background-image: -moz-linear-gradient(top, #89B814, #698B10);
	background-image: -ms-linear-gradient(top, #89B814, #698B10);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89B814), color-stop(100%, #698B10));
	background-image: -webkit-linear-gradient(top, #89B814, #698B10);
	background-image: -o-linear-gradient(top, #89B814, #698B10);
	background-image: linear-gradient(top, #89B814, #698B10);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89B814', endColorstr='#698B10', GradientType=0);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

	border: 1px solid #698B10;
	border-color: #698B10 #698B10 #465F05;

	border-radius: 4px;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}
.bt:hover {
	  background-position: 0 -15px;
	  text-decoration: none;
	}
/* end of theme css */


/*= ONLY FOR DEMO PAGE */
body {
/*
	width:978px;
	box-shadow:0 0 10px #777;
	padding: 20px 40px;
	margin:0 auto;
	*/
}
a { color: #0E8EAB}
/*
.eventCalendar-wrap {
	width:265px;
}
*/
.features li { margin-bottom:3px;}
#thanksPanel li { margin-bottom:0;}
#introPanel { padding-top:20px;}

.poweredBy img {
	float:left;
	margin-right:3px;
}
	.poweredBy .data {
		float:left;
	}
	.poweredBy .name {
		font-weight:bold;
		color:#555;
		text-decoration:none;
		display:block;
		margin-top:28px;
	}
	.poweredBy .twitter {
		text-decoration:none;
		display:block;
		float:left;
	}
.features {
	padding-left:20px;
	float:left;
}
#appLogo {
	margin-right:30px;
}
pre {
	clear:both;
	background-color:#FFFFCC;
	padding:5px;
	border:solid 1px #FED17E;
	overflow:auto;
}
#license {
	width:300px;
	float:right;
	font-size:10px;
	line-height:12px;
	text-align:center;
}


.contenedor-vista-lista{
	border: 1px dashed red;
	width: 60%;
	overflow: hidden;
}

.item-contenedor-vista-lista{
	border: 1px dashed blue;
	overflow: hidden;
}

.encabezado-contenedor-lista{
	text-align: center;
	margin: 0;
	padding: 0;
}

.encabezado-vista-lista{
	border: 1px solid red;
	height: 80px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}


.enlace-titulo{
	color: #25a7ca;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
	display: block;
}

.enlace-titulo:hover{
	color: #5bc5e2;
	text-decoration: none;
}


.fecha-publicacion-lista{
	color: gray;
	font-size: 14px;
	float: left;
	padding-top: 4px;
	padding-right: 20px;
}

.sintesis-producto-lista{
	float: left;
	background: #00558f;
	color: white;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}

.rostros-producto-lista{
	float: left;
	background: #CE1C28;
	color: white;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}





















/* end of demo page */